OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GOOGLE_API_KEY=
OLLAMA_BASE_URL=http://localhost:11434

POSTGRES_MODE=cloud
DB_HOST=ep-muddy-voice-aozlceqy-pooler.c-2.ap-southeast-1.aws.neon.tech
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SSL_MODE=require
DB_CHANNEL_BINDING=require